# Ignore Python cache files
__pycache__/
*.pyc

# Ignore virtual environments
web-project-venv/
project-venv/
*.venv/

# Ignore environment files
.env

# Ignore Jupyter checkpoints
.ipynb_checkpoints/